PORT=5xxx
AUTH_SERVICE=http://IPADDRESS:5xxx
INVENTORY_SERVICE=http://IPADDRESS:5xxx
LOAN_SERVICE=http://IPADDRESS:5xxx
REPORTING_SERVICE=http://IPADDRESS:5xxx

npm install express http-proxy-middleware dotenv cors # For API Gateway
npm install express mongoose bcryptjs jsonwebtoken dotenv cors # For Authentication Service
npm install express mongoose jsonwebtoken dotenv cors # For Inventory Service
npm install express mongoose jsonwebtoken dotenv cors # For Loan Service
npm install express mongoose jsonwebtoken dotenv cors # For Reporting Service